<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
	bean-discovery-mode="all">
	<!-- Caso esse arquivo nao esteja presente com a propriedade bean-discovery-mode="all" todos os beans devem estar anotados com o 
	o escopo, caso contrario o CDI nao conseguira fazer a injecao -->
</beans>